

header {
	padding: 20px;
	color:lightblue;
}

h1 {
	font-size:5vw;
	margin-left: 20px;
}

button:focus{
    background:darkgreen;
}

button:active{
    background:olive;
}

.buttondiv {
	margin-left: 20px;
	margin-bottom: 80px;	
}

.graphdiv {
	margin-top: 20px;
	width: 100%;
}

/* class som ger graferna samma storlek mm.*/
.graph {
	display:none; 
	width:500px; 
	height:500px; 
	float:left; 
	margin-left: 20px;
}

/* Kod för att ta fram och dölja graferna */
.visa {
	display: block
}

.hide {
	display: none
}

/* class som ger knapparna samma storlek mm.*/
.button1 {
	background-color:#4CAF50; 
	color: white;
	padding: 10px 24px;
	float: left;
	color: white;
}

	